# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# MyPy / Pytest / Coverage
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
tmp/
*.log
docker-compose.override.yml

# Local configs / secrets
.env
.env.*
*.local

# Build/Dist
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# PyCharm
.idea/